{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% block user %}
	<a href="{% url 'home' %}" style='color:black;'>{{ username }}</a>
{% endblock user %}
{% block content %}
	{% for message in messages %}
		<div class="alert alert-warning">
			<strong>
				
					{{ message }}
				
			</strong>
		</div>
	{% endfor %}
    <div class="card">
    	<div class="card-header">
    		<h3>Create Project</h3>
    	</div>
    	<div class="card-body">
    		<form action="{% url 'createproject' %}" method='post'>
		        {% csrf_token %}
		        {{ form|crispy }}
		        <button type="submit" class="btn btn-primary">Create</button>
		    </form>
    	</div>
    </div>

{% endblock content %}
   
