{% extends 'user/base.html' %}
{% block user %}
    <a href="{% url 'home' %}" style='color:black;'>{{ username }}</a>
{% endblock user %}
<{% block content %}
	<div class="container">
		<form action="{% url 'updatingproject' project.id %}" method="post">
            {% csrf_token %}
			<div class="form-group">
				<label for="name">Project's name: </label>
				<input type="text" class="form-control" id="name" name='title' value="{{ project.title }}" />
			</div>
			<div class="form-group">
				<label for="description">Description: </label>
				<input type="text" class="form-control" id="description" name='description' value="{{ project.description }}" />
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
	
{% endblock content %}