{% extends 'user/base.html' %}
{% block user %}
	<a href="{% url 'home' %}" style='color:black;'>{{ username }}</a>
{% endblock user %}
<{% block content %}
	


	<div class="card">
		<div class="card-header">
			<div>
				<h3>
					<a href="{% url 'detailproject' project.id %}">{{ project.title }}</a>/
					<a href="{% url 'image' project.id %}">List Image </a>/
					{{ title }}
				</h3>
			</div>
		</div>
		<div class="card-body">
			<ul>
				<li>
					<form action="{% url 'updateimage' project.id image_id %}" method="post">
                    {% csrf_token %}
					Title: <input type="text" value="{{ title }}" name="title" style="font-size: 1.75rem;" />
					<button type="submit" class="btn btn-primary" style="float: right;">Save</button>
				</form>
				</li>
				<li>auto_OCR: <span class="text-primary">{{ auto_OCR }}</span></li>
				<li>Created at: {{ created_at }}</li>
				<li>Updated at: {{ updated_at }}</li>
				<li class="list-group-item" style="margin-top: 15px;">
					<img src="{{ source.url }}" height="100px" />
				</li>
			</ul>
		</div>
	</div>

{% endblock content %}